<div class="nav">
    <a href="/">All Blog</a>
    <form action="/search" class="search" method="POST">
        <input style="color: #fff;" type="search" name="name" id=""placeholder="Enter name">
        <label for="submit"><i class="fa fa-search"></i></label>
        <input type="submit" id="submit" style="display: none;">
    </form>
    <a href="/create" style="font-size: 17px;"> create one</a>
<a href="/" class="logo"><span>C</span>ee</a>
</div>